<h1>University of Rhode Island</h1>
<div class="add_image">
  <%= link_to "Add Image", new_image_path, :class => 'add_image' %>
</div>
<div class="sort">
  <%= link_to "Hot", images_path(sort: 'hot'), method: "get" %> | 
  <%= link_to "New", images_path(sort: 'new'), method: "get" %>
</div>
<ul>
<% @images.each do |image| %>
  <div class="image">
    <li><%= link_to (image_tag image.image_url, :size => "250x250", :class => "img-polaroid"), image_path(image.id) %></li>
    <em>
      <% if current_user == image.user %>
        | <%= link_to "delete", image, :method => :delete, :class => 'action' %>
      <% else %>
        | <%= link_to "up", vote_image_path(image, type: "up"), method: "post" %>
        | <%= link_to "down", vote_image_path(image, type: "down"), method: "post" %>  
      <% end %>
	    | <%= pluralize image.reputation_for(:votes).to_i, "vote" %>
      | <%= link_to (pluralize image.comments.count, "comment"), image_path(image.id) %>
    </em>
  </div>
<% end %>
</ul>
<div class="pages">
  <%= will_paginate @images %>
</div>