<h1><%= @school.name %></h1>
<div class="add_image">
  <%= link_to "Add Image", new_image_path, :class => 'add_image btn btn-primary' %>
</div>
<div class="sort btn-group">
  <%= link_to "Hot", images_path(sort: 'hot'), method: "get", class: "btn" %> | 
  <%= link_to "New", images_path(sort: 'new'), method: "get", class: "btn" %>
</div>
<ul>
<% @images.each do |image| %>
  <div class="image">
    <li><%= link_to (image_tag image.image_url, :size => "265x265", :class => "img-polaroid"), image_path(image.id) %></li>
    <em>
      <% if image.reputation_for(:votes).to_i > 0  %>
	      <b style="color: green; font-size: 1.2em;">+<%= image.reputation_for(:votes).to_i %></b> 
      <% elsif image.reputation_for(:votes).to_i == 0 %> 
        <b style="font-size: 1.2em;"><%= image.reputation_for(:votes).to_i %></b>  
      <%  else %> 
        <b style="color: red; font-size: 1.2em;"><%= image.reputation_for(:votes).to_i %></b>
      <% end %> 
      <br />
      <% if current_user && current_user == image.user && current_user.admin? == false %>
        | <%= link_to "delete", image, :method => :delete, :class => 'action' %> 
      <% else %>
        | <%= link_to "up", vote_image_path(image, type: "up"), :method => :post %> 
        | <%= link_to "down", vote_image_path(image, type: "down"), :method => :post %>  
      <% end %>
      | <%= link_to (pluralize image.comments.count, "comment"), image_path(image.id) %> |  
    </em>
  </div>
<% end %>
</ul>
<div class="pages pagination">
  <%= will_paginate @images %>
</div>